    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    body{
        margin: 0 auto;
        width: 80%;
        background-color: white;
        color: black;
    }
    .btn {
        background-color: black;
        color: white;
    }
    
    .btn:hover {
        background-color: #4c4c4c;
    }
    .formstyle{
        background-color: white;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
    }
    select, input{
        background-color: #f1f1f1;
    }
    .linkColor{
        color: rgb(18, 18, 255);
    }
    /* Dark mode styles */
    body.dark { 
    background-color: #121212;
    color: white;
}
.dark .btn { 
    background-color: #f2f2f2;
    color: black;
}

.dark .btn:hover { 
    background-color: #4c4c4c;
    color: #f2f2f2;
}
.dark .formstyle{ 
    background-color: #121212;
    box-shadow: 0px 0px 5px 1px rgba(242,242,242,1);
}
.dark select, .dark input{ 
    background-color: #242424;
}
.dark .linkColor{ 
    color: rgb(231, 255, 18);
}